{% extends "base.html.twig" %} {% form_theme form 'bootstrap_5_layout.html.twig'
%} {% block body %}

<div class="content">
  <h1>Création d'un article</h1>

  {{ form_start(form) }}

  {{ form_row(form.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
  {{ form_row(form.content, {'attr': {'placeholder': "Contenu de l'article"}})
  }} {{ form_row(form.image, {'attr': {'placeholder': 'Ajouter une image'}}) }}

  <button type="submit" class="btn btn-succes">
    {% if editMode %} Enregister {% else %} Ajouter l'article {% endif %}
  </button>
  {{ form_end(form) }}
</div>
{% endblock %}
